body{
  background-color:#fafafa ;
}

section{
  margin:2% 2% auto 2%;
}

section h3:first-child{
  margin-bottom: 2rem;
}

select, input, button{
  margin-bottom: 1rem;
}
thead{

}

thead, tbody { display: block; }

tbody {
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}
