body{
  background-color:#fafafa ;
}

section{
  margin:2% 2% auto 2%;
}

section h3:first-child{
  margin-bottom: 2rem;
}

select, input, button{
  margin-bottom: 1rem;
}
thead{

}

thead, tbody { display: block; }

tbody {
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

.compra{
  background-color: red;
  color: #fff;
}

.venda{
  background-color: green;
  color: #fff;
}
/*Mobile*/
@media screen and (max-width: 750px) {
    section{
        margin: auto;
    }
    th, td{
      font-size: 0.6rem;
    }
}

@media screen and (max-width: 450px) {
    section{
        margin: auto;
    }
    th, td{
      font-size: 0.5rem;
    }
}
